@model IEnumerable<CI.Business.Models.Car>

@{
    ViewBag.Title = "ViewCar";
}

<h2>View Car</h2>

<p>
  
    <a href="javascript:;" class="myModal">Creat new</a>
    <br />
    <span style="color:@TempData["msgcolor"]"> @TempData["message"] </span>
</p>
@using (Html.BeginForm())
{
<p>
    <input type="button" id="btnsearch" class="btn btn-default  pull-right" value="Search" />
    <input type="text" name="search" id="search" value="" class="form-control pull-right" />
      
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.New)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.New)
        </td>
        <td>
          
            <a href="javascript:;"  rel="@item.CarId" class="btn btn-primary openeditmodal">Edit</a>  
            @*@Html.ActionLink("Details", "Details", new { id = item.CarId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CarId })*@
        </td>
    </tr>
}

</table>

}


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
              
              @Html.Partial("_AddCar")
                
            </div>
        </div>
    </div>

</div>   



<div id='editModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='editModalContent'>

               

            </div>
        </div>
    </div>

</div>

<script>
    $("#btnsearch").click(function(){
        $(this).parents('form:first').submit();
    });

    $(".myModal").click(function () {
        $("#myModal").modal('show');
        
    });


    $(".openeditmodal").click(function () {
        
     var carid = $(this).attr("rel");
     var url="/Home/EditCar?carid="+carid;
     $("#editModalContent").load(url,function(){
         $("#editModal").modal("show");
        
    })
        
    });

</script>

